#calculator{
  border: 1px solid black;
  width:200px;
  margin: 0 auto;
  padding: 10px;
  background-color: rgb(252, 137, 172);
  border-radius: 5px;
}
#display{
  margin:10px;
  width: 85%;
  font-size: 20px;
}
.calci{
  width: 45px;
  height: 45px;
  margin: 3px;
  border: 2px solid black;
  background-image:url("image2.jpeg");
  background-size: cover;
  ont-weight: bold;
  font-weight: 200;
  border-radius: 12px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.buttons{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;

}
body {
  background-image: url("cherry.jpeg");
  background-size: cover;
}

.image1{
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.name{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color:black;
  font-style: italic;
}
